<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-info">
	  <div class="panel-heading">Add New Tweet</div>
	    <div class="panel-body">
			<%#= render 'form' %>
			<%= render 'form', tweet: @tweet %>
		</div>
	</div>
</div>			
